- page_title "About Tim"

h1 class="text-2xl md:text-3xl font-extrabold mb-6" style="text-color: #222"
  ' 👋🏼 Hello,
  span> class="inline-block rounded bg-pink-lightest p-px pl-1 -ml-1 pr-1" I’m Tim.

.copy
  p
    | I’m a software developer with over 15 years experience working with Ruby and building web applications.
  p
    | I’m a partner at <a href="http://icelab.com.au">Icelab</a>, a design agency where we love helping people build beautiful, working things. I’m a committed open source software contributor, as co-founder and core team member of <a href="http://dry-rb.org">dry&#8209;rb</a>, and core team member of <a href="http://rom-rb.org">rom&#8209;rb</a>.
  p
    | I’m interested in finding better ways to build maintainable software in small teams, and sharing this with the community.
  p
    | I live in Canberra, Australia with my <a href="https://findingintention.com">wife</a> and two young children.

h3.mb-6 style="text-color: #222"
  | Contact me

div class="mb-2"
  a href="mailto:tim@openmonkey.com" Email
div class="mb-2"
  a href="https://twitter.com/timriley" Twitter
div class="mb-2"
  a href="https://github.com/timriley" GitHub

