- page_title "About Tim"

h1 class="text-2xl md:text-3xl font-extrabold" style="text-color: #222"
  ' 👋🏼 Hello,
  span> class="inline-block rounded bg-pink-200 p-px pl-1 -ml-1 pr-1" I’m Tim.

.copy
  p
    | I’m a software developer with 20 years experience working with Ruby and building web applications.
  p
    | I’m a Principal Engineer at <a href="https://buildkite.com">Buildkite</a>. Previously, I helped run <a href="http://icelab.com.au">Icelab</a>. I’m a committed open source software contributor, as co-founder and core team member of <a href="http://dry-rb.org">dry&#8209;rb</a>, and core team member of <a href="https://hanamirb.org">Hanami</a> and <a href="http://rom-rb.org">rom&#8209;rb</a>.
  p
    | I’m interested in finding better ways to build maintainable software in small teams, and sharing this with the community.
  p
    | I live in Canberra, Australia with my wife and two young children.

h3 style="text-color: #222"
  | Contact me

div class="mb-1"
  a href="mailto:tim@openmonkey.com" Email
div class="mb-1"
  a href="https://ruby.social/@timriley" rel="me" Mastodon
div class="mb-1"
  a href="https://twitter.com/timriley" Twitter
div class="mb-1"
  a href="https://github.com/timriley" GitHub

